<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Ana Sayfa</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="fa-regular fa-handshake _menuicon"></i>
                <span class="menu-title">Hizmetlerimiz</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/admin/template/pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/admin/template/pages/ui-features/typography.html">Typography</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/pages/forms/basic_elements.html">
                <i class="fa-solid fa-people-group _menuicon"></i>
                <span class="menu-title">Takım Arkadaşlarımız</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/pages/charts/chartjs.html">
                <i class="fa-solid fa-chart-pie _menuicon"></i>
                <span class="menu-title">Grafiler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/pages/tables/basic-table.html">
                <i class="fa-solid fa-globe _menuicon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/pages/icons/mdi.html">
                <i class="fa-solid fa-bullhorn _menuicon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/pages/icons/mdi.html">
                <i class="fa-solid fa-inbox _menuicon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/pages/icons/mdi.html">
                <i class="fa-solid fa-location-dot _menuicon"></i>
                <span class="menu-title">Adres Bilgileri</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/pages/icons/mdi.html">
                <i class="fa-regular fa-images _menuicon"></i>
                <span class="menu-title">Görseller</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#auth" >
                <i class="fa-solid fa-gear _menuicon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/admin/template/documentation/documentation.html">
                <i class="fa-solid fa-arrow-right-from-bracket _menuicon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>