


<!DOCTYPE html>
<html lang="tr">
@* Header Partial *@
@await Html.PartialAsync("~/Views/AdminPartials/PartialHead.cshtml")
<body>
    <div class="container-scroller">
        @* Navbar Partial *@
        @await Html.PartialAsync("~/Views/AdminPartials/PartialNavbar.cshtml")
        <div class="container-fluid page-body-wrapper">
            @* Sidebar Partial *@
            @await Html.PartialAsync("~/Views/AdminPartials/PartialSidebar.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @* Footer Partial *@
                @await Html.PartialAsync("~/Views/AdminPartials/PartialFooter.cshtml")
            </div>
        </div>
    </div>
    @* Scripts Partial *@
    @await Html.PartialAsync("~/Views/AdminPartials/PartialScripts.cshtml")
</body>

</html>
