<!DOCTYPE html>
<html lang="tr">
<head>
    @*HEAD VIEWCOMPONENT*@
    @await Component.InvokeAsync("Head")
</head>
<body>
    @RenderBody()

    @*FOOTER VIEWCOMPONENT*@
    @await Component.InvokeAsync("Footer");

    @*SCRIPTS VIEWCOMPONENT*@
    @await Component.InvokeAsync("Scripts");
        
    <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>

