@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Başlık</th>
                <th>İşlemler</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ServiceID</td>
                    <td>@item.ServiceTitle</td>
                    <td class="text-center">
                        <a asp-controller="Service" asp-action="DeleteService" asp-route-id="@item.ServiceID" class="btn btn-rounded btn-block btn-danger">Sil</a>
                        <a asp-controller="Service" asp-action="EditService" asp-route-id="@item.ServiceID" class="ms-2 btn btn-rounded btn-block btn-warning">Güncelle</a>
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="Service" asp-action="AddService" class="btn btn-rounded btn-block btn-success mt-3" style="width:100%;">Ekle</a>
    </div>
</div>