@model List<Contact>

<div class="contact-agile" id="contact">
    <div class="container">
        <h3 class="tittle">İletişim</h3>
        <p class="heading-btm-w3ls">Detaylı bilgi almak için talep oluşturun, biz sizi en kısa sürede arayalım.</p>
        <div class="col-md-3 contact-left">
            <h4>Adresimiz</h4>
            <p>1143 New Hampshire Ave NW,</p>
            <p>Washington,</p>
            <p>DC 20037, USA</p>
            <h4>Phone</h4>
            <p>+(010) 221 918 811</p>

        </div>
        <div class="col-md-9 contact-middle">
            <h2>Say Hello</h2>
            <form action="#" method="post">
                <div class="form-agileinfo">
                    <p>Name</p>
                    <input type="text" name="your name" placeholder="Your name" required="" />
                    <p>Email</p>
                    <input type="email" name="your email" placeholder="Your email" required="" />
                </div>
                <div class="form-agileits-w3layouts">
                    <p>Comments</p>
                    <textarea name="your message" placeholder="Your message" required=""></textarea>
                    <input type="submit" value="SEND MESSAGE">
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
